@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap);
*{
    margin:1px;
    margin-left: 1px;
    margin-right: 1px;
    padding:0px;
    font-family: Outfit, sans-serif;

}
body{
     font-family: Outfit, sans-serif;/**/
}
.header {
    background-color: white;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 20px
}
.logo {
    margin: 0px;
    width: 280px;
    height: 99px;
}
#search-container {
    margin: center;
    max-width: 600px;
    background-color: white;
    color: white;
}
#search-box {
    margin: center;
    width: 230px; /* Largura da barra de busca */
    height: 15px; /* Altura da barra de busca */
    padding: 5px; /* Espaçamento interno da barra de busca */
    font-size: 16px; /* Tamanho da fonte da barra de busca */
}
#search-button {
    width: 80px;
    height: 33px; /* Altura do botão de pesquisa */
    font-size: 12px; /* Tamanho da fonte do botão de pesquisa */
    background: #00B6DD;
    border-color: beige;
    text-decoration-color: white;
}
.menu {
    font-family: Outfit, sans-serif;;
    margin-right: 0px;
    margin-left: 380px;
    list-style: none;
    display: flex;
}
.menu li {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1px; /*definindo tamanho do fundo do botão */
    margin: 5px; /*espaço entre os botões*/
    text-decoration-color: #cccccc;
    font-family: Outfit;
    background-color: #00B6DD; /*definindo a cor do fundo botão*/
}
.menu a {
    text-align: center;
    font-family: Outfit, sans-serif;;
    width: 0;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.menu-lateral {
    width: 100%;
    display: flex;
}
.sidebar {
    top: 50%;
    width: 290px;
    padding: 0px;
    background-color: #00B6DD;
    font-family: Arial;
}
.sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: #00B6DD;
}
.sidebar li {
    margin: 10px 0;
    padding: 25px;
    font-size: large;
    color: white;
}
.sidebar a {
    color: white;
    font-family: Outfit, sans-serif;;
    font-size: larger;
    text-decoration: none;
}
.sidebar a:hover {
    color: black;
}
/***********IMAGENS A PARTIR DAQUI***********/

figure.foto-palestra{
    border: 10px solid white;
    box-shadow: 1px 1px 4px black;
}
figure.foto-palestra{
    width: 100%;
    height: 100%;
}
figure.foto-palestra figcaption{
    position: absolute;
    top:0px;
}