<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro de Usuário</title>
    </head>
    <body>
        <h1>Cadastro de Usuário</h1>
        <form action="/cadastrar" method="post">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
            <br>
            <label for="instituicao">Instituicao:</label>
            <input type="instituicao" id="instituicao" name="instituicao">
            <br>
            <label for="tipo">Tipo:</label>
            
            <select id="tipo" name="tipo" required>
                <option value="">Selecione...</option>
                <option value="Organizador">Organizador</option>
                <option value="Revisor">Revisor</option>
            </select>
            
            <br>
            <input type="submit" value="Cadastrar">
        </form>
</body>
</html>